h1{
    font-weight: 800;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

p{
    font-family: 'Maven Pro', sans-serif;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 25px;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}